name: Run E2E Tests

on: 
  pull_request:
    branches:
      - main

jobs:
  run-unit-tests:
    name:  Run E2E Tests
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: bitnami/postgresql
        ports:
         - 5432:5432
        env:
          POSTGRESQL_PASSWORD: docker2023
          POSTGRESQL_DATABASE: apisolid
          POSTGRESQL_USERNAME: docker


    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'


      - run: npm ci
      
      - run: npm run test:e2e
        env:
          JWT_SECRET: testing
          DATABASE_URL: "postgresql://docker:docker2023@localhost:5432/apisolid?schema=public"

